<!--Footer/Bottom Nav Section-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color:rgb(95, 44, 8);">
      <h6 class="display-6 navbar-text">&copy;Copyright 2021. All Rights Reserved. CRK</h6>
    <a class="navbar-brand" href="#"></a>
    </nav>
  </footer>